%body-text {
  font-family: $secondaryFont;
  font-style: normal;
  font-size: $textFontSize;
  line-height: 1.7;
}

%title-text {
  font-family: $primaryFont;
  color: $textColor;
  font-weight: 700;
  line-height: 1;
}

%black-box-shadow {
  -webkit-box-shadow: 0 2px 4px -4px $black;
  -moz-box-shadow: 0 2px 4px -4px $black;
  box-shadow: 0 2px 4px -4px $black;
}

%starry-bg {
  background-image: url(../images/stars.png);
  background-position: center 80%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 60%;
  background-color: $black;
}

@mixin add-transition($duration: 0.5s) {
  -webkit-transition: all $duration ease;
  -moz-transition: all $duration ease;
  -ms-transition: all $duration ease;
  -o-transition: all $duration ease;
  transition: all $duration ease;
}
