<header>
  <div class="header_content">
    <a href="/" class="logo">
      <img src="assets/images/logo.png" />
    </a>

    <nav class="web_menu">
      <ul class="nav-links">
        <li>
          <a class="active scrollable" href="#banner" title="Olá!"
            >Ah, o universo</a
          >
        </li>
        <li>
          <a href="#about" class="scrollable" title="Alta Luna?">Alta Luna?</a>
        </li>
        <li><a href="#courses" class="scrollable" title="Cursos">Cursos</a></li>
        <li>
          <a href="#newsletter" class="scrollable" title="Newsletter"
            >Newsletter ☕</a
          >
        </li>
      </ul>
    </nav>

    <nav class="mobile_menu">
      <input type="checkbox" id="hamburger" />
      <label class="hamburger" for="hamburger"></label>

      <ul class="nav-links">
        <li>
          <a class="active scrollable" href="#banner">ah, o universo</a>
        </li>
        <li>
          <a href="#about" class="scrollable">alta luna?</a>
        </li>
        <li><a href="#courses" class="scrollable">cursos</a></li>
        <li>
          <a href="#newsletter" class="scrollable">newsletter ☕</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
